<div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <img class="fit" src="../../assets/JOHN.jpeg" alt="Image" width="500px" height="300px">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="fit" src="../../assets/JOHN.jpeg" alt="Image" width="500px" height="300px">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="fit" src="../../assets/JOHN.jpeg" alt="Image" width="500px" height="300px">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="fit" src="../../assets/JOHN.jpeg" alt="Image" width="500px" height="300px">
        </mat-grid-tile>
    </mat-grid-list>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Johnny Boi
            </mat-panel-title>
            <mat-panel-description>
                This homie 6'0 and is about as cute as you can get. Shawty kinda packin too.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/JOHN.jpeg">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Eden Center
            </mat-panel-title>
            <mat-panel-description>
                This homie 6'5 300lbs and built different all around. If your girl korean watch tf out.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/Aden.jpeg">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tungfun
            </mat-panel-title>
            <mat-panel-description>
                This homie quite tall and tells you he likes filipinas, but really he loves dudes.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/Tungfun.jpeg">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                IsoIco
            </mat-panel-title>
            <mat-panel-description>
                This homie the biggest flexer of the century.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/Icogay.jpeg" width="1000px" height="650px">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Peeta
            </mat-panel-title>
            <mat-panel-description>
                This homie got the BBC (Big Black Christian)
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/peeta.jpg">
    </mat-expansion-panel>
</div>