<div>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Jawn
            </mat-panel-title>
            <mat-panel-description>
                This homie 6'0 and is about as cute as you can get. Shawty kinda packin too.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/JOHN.jpeg" width="auto" height="500px">
        <img class="fit" src="../../assets/Jonny.png" width="auto" height="500px">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Eden Center
            </mat-panel-title>
            <mat-panel-description>
                This homie 6'5 300lbs and built different all around. If your girl korean watch tf out.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/Aden.jpeg" width="auto" height="500px">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Koalaburr
            </mat-panel-title>
            <mat-panel-description>
                This homie built like a roblox character. Arms bigger than the hulk.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/Khoa.jpeg" width="auto" height="500px">
        <img class="fit" src="../../assets/koalaburr.jpg" width="auto" height="500px">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tungfun
            </mat-panel-title>
            <mat-panel-description>
                This homie is quite tall and tells you he likes filipinas, but really he loves dudes.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/Tungfun.jpeg" width="auto" height="500px">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Iso Ico
            </mat-panel-title>
            <mat-panel-description>
                This homie is the biggest flexer of the century.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/Icogay.jpeg" width="auto" height="500px">
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Peeta
            </mat-panel-title>
            <mat-panel-description>
                This homie got the BBC (Big Black Christian)
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img class="fit" src="../../assets/peeta.jpg" width="auto" height="500px">
    </mat-expansion-panel>
</div>