<mat-toolbar>
  <div class="header" routerLink="/Home" routerLinkActive="active">{{title}}</div>
  <div class="button-box">
    <button [ngClass]="'button-item'" mat-raised-button routerLink="/MyHomies" routerLinkActive="active">
      <mat-icon>grade</mat-icon>
      Homies
    </button>
    <button [ngClass]="'button-item'" mat-raised-button routerLink="/AboutMe" routerLinkActive="active">
      <mat-icon>face</mat-icon>
      About
    </button>
    <button [ngClass]="'button-item'" mat-raised-button routerLink="/Home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      Home
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>