.mat-toolbar{
    background-color: blueviolet;
    color: white;
}

.header{
    padding-left: 10%;
    padding-right: 10%;
}

.header-box{
    padding:80%;
}

.buttons{
    float:right;
    color:blueviolet;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.button-box .mat-button-base {
  margin: 2%;
  width: 40% !important;
}

.button-header {
    color: blueviolet;
}