<mat-toolbar>
  <div class="header">{{title}}</div>
  <div class="button-box">
    <button [ngClass]="'button-item'" mat-raised-button routerLink="/MyHomies" routerLinkActive="active">
      My Homies
    </button>
    <button [ngClass]="'button-item'" mat-raised-button routerLink="/AboutMe" routerLinkActive="active">
      About Me
    </button>
    <button [ngClass]="'button-item'" mat-raised-button routerLink="/Home" routerLinkActive="active">
      Home
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>