.mat-toolbar{
  padding: 4rem;
  background-image: url("./../assets/windowsxp.png");
  background-size: cover;
  color: white;
}

.header{
  color: white;
  background-color: rgb(49, 84, 179);
  padding: 1rem;
  font-size: 30px;
  border: 1px solid rgb(49, 84, 179);
  border-radius: 12px;
}

.header-box{
  padding: 80%;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.button-box {
  margin-right: 1rem;
  width: 100%;
}

.button-item {
  color: white;
  background-color: rgb(49, 84, 179);
  float: right;
  margin: 2px;
}