<div class="grid-card">
    <div class="pfp">
        <img class="pfp-img" src="../../assets/jon.PNG" alt="Italian Trulli" width="50%" height="auto">
    </div>

    <div class="sig">
        <img class="" src="../../assets/sig.PNG" alt="Italian Trulli" width="100%" height="auto">
    </div>

    <div class="detail">
        <p class="detail-text"><b>Name:</b> John Nguyen</p>
        <p class="detail-text"><b>Age:</b> old enough</p>
        <p class="detail-text"><b>Hair:</b> None</p>
        <p class="detail-text"><b>Pronoun:</b> He/Him</p>
        <p class="detail-text"><b>Gender:</b> M</p>
        <p class="detail-text"><b>Exp:</b> 01/01/2069</p>
    </div>
</div>