.grid-card {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    ". . . ."
    "pfp pfp detail detail"
    ". . . .";
    border: 1px solid gray;
    background-color: grey;
}

.pfp {
    grid-area: pfp;
}

.detail {
    grid-area: detail;
}

.pfp-img {
    width: 70%;
    height: auto;
    margin: 2px;
    padding: 2px;
    border: 1px solid white;
}

.detail-text {
    color: white;
}