<div class="grid-card">
    <div class="pfp">
        <img class="pfp-img" src="../../assets/Jon.jpg" alt="Italian Trulli" width="50%" height="auto">
    </div>

    <div class="detail">
        <p class="detail-text"><b>Name:</b> John Nguyen</p>
        <p class="detail-text"><b>Age:</b> 17</p>
        <p class="detail-text"><b>Hair:</b> None</p>
        <p class="detail-text"><b>Pubes:</b> Yes</p>
        <p class="detail-text"><b>Pronoun:</b> He/Him</p>
        <p class="detail-text"><b>Gender:</b> Attack Helicopter</p>
        <p class="detail-text"><b>Exp:</b> Never</p>
    </div>
</div>