.grid-card {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    ". . . ."
    "pfp pfp detail detail"
    "sig . . .";
    border: 1px solid gray;
    background-color: white;
}

.pfp {
    grid-area: pfp;
}

.detail {
    grid-area: detail;
}

.sig {
    grid-area: sig;
}

.pfp-img {
    width: 80%;
    height: auto;
    margin: 2px;
    padding: 2px;
    border: 2px solid grey;
}

.detail-text {
    color: black;
}